
.row {

    border: 0px solid red;
}

.col
{
    border: 0px solid red;
}


.home-app .home-content {
    padding: 1rem;
    font-size: 28px;
}

.home-app .home-page {
    padding: 0.5rem;
    height: 80vh;
    overflow-y: scroll;
}


.home-app .v-container {
    width: 80vw;
    margin: 0px auto 0px auto; 
    border: 0px solid red;
}

.v-project-item {
    padding: 2em 3em;
}



.v-project-item span {
    display: inline-block;
    margin-bottom: 2em;
}

.v-project-item li {
   list-style: none;
   padding: 4px 1em;
}


.v-work-img-container {
    padding: 2em;
}

.home-app .v-header {
    padding: 0.8em;
    background: none;
    font-weight: 700;
}

.home-app .v-summary {
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 1.5em;
}

.home-app .v-body {
    padding: 2em 0.2;
}

.home-app .v-title {
    color: white;
}

.home-app .v-title-1 {
    color: black;
    margin-right: 0.2em;
}

.home-app .v-title-2 {
    color: black;
}

.divider {
    height: 11em;
}

.v-title {
    font-size: 24px;
    background: none;
    margin: 0px;
    padding: 0px;
}
.v-button {
    margin-bottom: 4px;
    font-size: .8em;
    padding: 4px 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#viridium {
    background-color: rgb(16, 16, 202);
    color: white;
}

#p1 {
    background-color: rgb(115, 115, 189);
    color: white;
}

#p2 {
    background-color: rgb(4, 4, 92);
    color: white;
}

#p3 {
    background-color: rgb(12, 125, 82);
    color: white;
}

.v-bottom {
    position: relative;
    display: block;
    height: 50%;
}

.v-bottom span{
    position: absolute;
    bottom: 10px;
}

.home-app .text-box {
    position: relative;
    height: 90vh;
}

.home-app .headline-content {
    font-size: 3em;
    font-weight: 700;
    color: rgb(63, 63, 63);
    padding: 4px;
    line-height: 54px;
    display: block;
    position: absolute;
    bottom: 15vh
}

.home-app .blurb-content {
    font-size: 1.5em;
    position: absolute;
    bottom: 0px;
    width: 80%;
    text-align: right;
    bottom: 15vh
}
/*work and projects*/
.v-project {
    height: 45vh;
    background: rgb(236, 236, 236);
    margin: .4em;
    padding:1em;
    border-radius: 1em;
    border: 4px rgba(0, 132, 255, 0) solid;
}

.v-project:hover {
    box-shadow: .5em .5em .5em rgba(128, 124, 124, 0.2);
    border: 4px rgba(218, 10, 10, 0.31) solid;
}

.v-project-content {
    display: block;
    height: 20vh;
    margin: 2px;
    position: relative;;
}

.v-project-content .v-link{
    bottom:10px;
    position: absolute;
    text-align: right;
    right:10px;
    color: white;
}

.v-project-desc {
    bottom:10px;
    position: absolute;
}

.v-chapter-nav {
    position: absolute;
    z-index: 1000;
    right: 10vw;
    bottom: 10vh;
    padding: 1em;
}

/*About page*/
.v-about {
    font: 1em sans-serif;
    color: rgb(89, 133, 174);
}
.about-app  .v-header {
    font-size: 1.5em;
    font-weight: 500;
    margin: 1em;
} 

.v-img-container {
    padding: 2em;
    text-align: center;
}

.v-work-img {
    width: 80%;
}

.v-path-img {
    width: 60%;
    margin: 5em auto;
}

.v-hobby {
    padding: 2em;
}

.v-hobby .v-button {
    display: inline-block;
    margin: .5em;
    padding: 0.5em 1.5em;
    border: 1px rgb(85, 8, 102) solid;
}

/*Working in*/
.work-in-progress {
    height: 180vh;
    width: 1000px;
    background-color: aliceblue;
    max-width: 60vw;
    margin: 1em auto;
    padding: 1em 0em;
    text-align: center;
    font-size: 2em;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("../../../public/work-in-progress.png");
}