.v-search-select-container {
    --search-box-input-padding: 0.4rem;
    --search-box-icon-padding: 0.6rem;
    --search-box-input-padding-left: 3rem;
    --search-box-icon-size:2.4rem;
    --search-box-bg:white;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 4px;
    background-color: var(--search-box-bg);
}

.v-search-select-container .v-select-label {
    padding: 2px;
    width: 100%;
    height: 100%;
}

.v-search-select-container .v-select-input {
    width: 90%;
    padding: var(--search-box-input-padding);
    padding-left: var(--search-box-input-padding-left);
    border: 0px;
    font-size: 1.2rem;
    height: 2.4rem;
}

.v-search-select-container ul {
    padding: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
    list-style: none;
    display: none;
    overflow: scroll;
    max-height: 500px;
    min-height: 500px;
    background-color: rgb(252, 252, 252);
    margin-top: 2px;
    border: 1px solid #e7e7e7;
    z-index: 1000;
}

.v-search-select-container li {
    padding: 8px 4px;
    border-bottom: 1px solid rgb(212, 212, 212);
    cursor: default;
    overflow: hidden;
}

.v-search-select-container .v-select-option-text {
    font-size: 1em;
}



.v-search-select-container .v-select-input-box {
    display: flex;
}

.v-search-select-container .v-select-drop-icon {
    width: var(--search-box-icon-size);
    height: var(--search-box-icon-size);
    padding: var(--search-box-icon-padding);
    border-left: 1px solid rgb(173, 173, 173);
    margin: 0px 0px;
    position: absolute;
    right: 0px;
}

.v-search-select-container .v-select-x-icon {
    width: var(--search-box-icon-size);
    height: var(--search-box-icon-size);
    padding: var(--search-box-icon-padding);
    border-right: 1px solid rgb(173, 173, 173);
    margin: 0px 0px;
    position: absolute;
    left: 0em;
}

.v-search-select-container .v-highlight {
    background-color: rgb(244, 244, 244);
}