.v-table {
    --v-table-bg: rgb(245, 245, 245);
    --v-table-header-bg:rgb(231, 231, 231);
    --v-table-container-bg: rgb(252, 252, 252);
    --v-table-row-selected-bg : rgb(202, 244, 185);
    --v-table-row-odd-bg : rgb(255, 255, 255);
    --v-table-row-even-bg : rgb(245, 245, 245);
    --v-paginator-hight: 2.5rem;
    --v-paginator-color: rgb(98, 98, 98);
    --v-paginator-bg: rgb(244, 244, 244);
    --v-paginator-border: 1px rgb(236, 236, 236) solid;
    --v-paginator-btn-bg: rgb(231, 231, 231);
    --v-paginator-btn-hover-bg: var(--v-table-row-selected-bg);
    --v-paginator-btn-selected-bg: var(--v-paginator-btn-hover-bg);
    background-color: var(--v-table-bg);
    padding: 0.5rem;
}

.v-table .v-table-container .v-table-header {
    background-color: var(--v-table-header-bg);
    color : var(--v-table-cell-color);
    padding: .5rem .5rem;
}

.v-table .v-table-container .v-table-cell {
    background-color: var(--v-table-cell-bg);
    color : var(--v-table-cell-color);
    padding: .2rem .5rem;
}

.v-table .v-table-container {
    background-color: var(--v-table-container-bg);
}

.v-table .v-paginator {
    background-color: var(--v-paginator-bg);
    color: var(--v-paginator-color);
    display: flex;
    align-items: center;
    padding: 0px 1rem;
    min-height: var(--v-paginator-hight);
    border: var(--v-paginator-border);
}

.v-table .v-paginator .v-page-prev, .v-page-next {
    display: inline-block;
    margin: 2px 2px;
    padding: 2px;
    background-color: var(--v-paginator-bg);
    min-width: 1.5rem;
    text-align: center;
    cursor: default;
    border-radius: 2px;
}

.v-table .v-paginator .v-page-no {
    display: inline-block;
    margin: 4px 2px;
    padding: 4px;
    background-color: var(--v-paginator-bg);
    min-width: 2em;
    text-align: center;
    cursor: default;
    border-radius: 2px;
}

.v-table .v-paginator .v-page-no.v-selected {
    background-color: var(--v-paginator-btn-selected-bg);
}

.v-table .v-paginator .v-page-no:hover {

    background-color: var(--v-paginator-btn-hover-bg);
}

.v-table .v-sort {
    visibility: hidden;
    margin: 0px .5rem;
}

.v-table .v-table-header:hover .v-sort {
    visibility: visible;
}


.v-table .v-table-row.v-even {
    background-color: var(--v-table-row-even-bg);
}

.v-table .v-table-row.v-odd {
    background-color: var(--v-table-row-odd-bg);
}

.v-table .v-table-row.v-selected {
    background-color: var(--v-table-row-selected-bg);
}


.v-table .v-table-cell {
    font-size: .9rem;
}