.v-code .v-code-viewer {
    margin: auto;
    border: 1px solid whitesmoke;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(146, 146, 146);
    overflow: scroll;
    max-height: 400px;
}

.v-code .v-header {
    margin-top: 1em;
    padding: 6px 12px;
    font-size: large;
    background-color: rgb(239, 239, 239);
    border-radius: 6px  6px 0px 0px;
}