<html>

<body>
    <table id="nsdaq-companies">
        <thead>
            <tr class="svelte-1kx178i">
                <th class=" svelte-1kx178i" draggable="true">No. </th>
                <th class=" svelte-1kx178i" draggable="true">Symbol </th>
                <th class="slw svelte-1kx178i" draggable="true">Company Name </th>
                <th class=" svelte-1kx178i" draggable="true">Market Cap </th>
                <th class=" svelte-1kx178i" draggable="true">Stock Price </th>
                <th class=" svelte-1kx178i" draggable="true">% Change </th>
                <th class="tr svelte-1kx178i" draggable="true">Revenue </th>
                <th class=" svelte-1kx178i" draggable="true"><span class="svelte-1kx178i">Volume <svg
                            class="mt-0.5 w-4 h-4" viewBox="0 0 20 20" fill="currentColor" style="max-width:40px">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg></span> </th>
                <th class="sl svelte-1kx178i" draggable="true">Industry </th>
                <th class="sl svelte-1kx178i" draggable="true">Sector </th>
                <th class=" svelte-1kx178i" draggable="true">Rev. Growth </th>
                <th class=" svelte-1kx178i" draggable="true">Net Income </th>
                <th class=" svelte-1kx178i" draggable="true">FCF </th>
                <th class=" svelte-1kx178i" draggable="true">Net Cash </th>
            </tr>
        </thead>
        <tbody>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">5</td>
                <td class="svelte-1kx178i"><a href="/stocks/tsla/">TSLA</a></td>
                <td class="slw svelte-1kx178i">Tesla, Inc.</td>
                <td class="svelte-1kx178i">561.76B</td>
                <td class="svelte-1kx178i">177.90</td>
                <td class="svelte-1kx178i">
                    <div class="rg">11.00%</div>
                </td>
                <td class="tr svelte-1kx178i">74.86B</td>
                <td class="svelte-1kx178i">306,
                    590,
                    613</td>
                <td class="sl svelte-1kx178i">Auto Manufacturers</td>
                <td class="sl svelte-1kx178i">Consumer Discretionary</td>
                <td class="svelte-1kx178i">59.80%</td>
                <td class="svelte-1kx178i">11.19B</td>
                <td class="svelte-1kx178i">8.91B</td>
                <td class="svelte-1kx178i">17.55B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">122</td>
                <td class="svelte-1kx178i"><a href="/stocks/lcid/">LCID</a></td>
                <td class="slw svelte-1kx178i">Lucid Group, Inc.</td>
                <td class="svelte-1kx178i">23.53B</td>
                <td class="svelte-1kx178i">12.87</td>
                <td class="svelte-1kx178i">
                    <div class="rg">43.00%</div>
                </td>
                <td class="tr svelte-1kx178i">376.86M</td>
                <td class="svelte-1kx178i">208,
                    145,
                    036</td>
                <td class="sl svelte-1kx178i">Auto Manufacturers</td>
                <td class="sl svelte-1kx178i">Consumer Discretionary</td>
                <td class="svelte-1kx178i">8,
                    557.48%</td>
                <td class="svelte-1kx178i">-1.88B</td>
                <td class="svelte-1kx178i">-2.80B</td>
                <td class="svelte-1kx178i">1.26B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">27</td>
                <td class="svelte-1kx178i"><a href="/stocks/intc/">INTC</a></td>
                <td class="slw svelte-1kx178i">Intel Corporation</td>
                <td class="svelte-1kx178i">116.22B</td>
                <td class="svelte-1kx178i">28.16</td>
                <td class="svelte-1kx178i">
                    <div class="rr">-6.41%</div>
                </td>
                <td class="tr svelte-1kx178i">63.05B</td>
                <td class="svelte-1kx178i">148,
                    548,
                    189</td>
                <td class="sl svelte-1kx178i">Semiconductors</td>
                <td class="sl svelte-1kx178i">Technology</td>
                <td class="svelte-1kx178i">-20.21%</td>
                <td class="svelte-1kx178i">8.01B</td>
                <td class="svelte-1kx178i">-9.62B</td>
                <td class="svelte-1kx178i">-13.71B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">4</td>
                <td class="svelte-1kx178i"><a href="/stocks/amzn/">AMZN</a></td>
                <td class="slw svelte-1kx178i">Amazon.com, Inc.</td>
                <td class="svelte-1kx178i">1,
                    043.02B</td>
                <td class="svelte-1kx178i">102.24</td>
                <td class="svelte-1kx178i">
                    <div class="rg">3.04%</div>
                </td>
                <td class="tr svelte-1kx178i">502.19B</td>
                <td class="svelte-1kx178i">87,
                    775,
                    614</td>
                <td class="sl svelte-1kx178i">Internet Retail</td>
                <td class="sl svelte-1kx178i">Consumer Discretionary</td>
                <td class="svelte-1kx178i">9.66%</td>
                <td class="svelte-1kx178i">11.32B</td>
                <td class="svelte-1kx178i">-19.69B</td>
                <td class="svelte-1kx178i">-69.59B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">155</td>
                <td class="svelte-1kx178i"><a href="/stocks/rivn/">RIVN</a></td>
                <td class="slw svelte-1kx178i">Rivian Automotive, Inc.</td>
                <td class="svelte-1kx178i">17.52B</td>
                <td class="svelte-1kx178i">19.83</td>
                <td class="svelte-1kx178i">
                    <div class="rg">8.30%</div>
                </td>
                <td class="tr svelte-1kx178i">1.05B</td>
                <td class="svelte-1kx178i">73,
                    907,
                    060</td>
                <td class="sl svelte-1kx178i">Auto Manufacturers</td>
                <td class="sl svelte-1kx178i">Consumer Discretionary</td>
                <td class="svelte-1kx178i">104,
                    800.00%</td>
                <td class="svelte-1kx178i">-7.49B</td>
                <td class="svelte-1kx178i">-6.22B</td>
                <td class="svelte-1kx178i">11.51B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">1</td>
                <td class="svelte-1kx178i"><a href="/stocks/aapl/">AAPL</a></td>
                <td class="slw svelte-1kx178i">Apple Inc.</td>
                <td class="svelte-1kx178i">2,
                    310.98B</td>
                <td class="svelte-1kx178i">145.93</td>
                <td class="svelte-1kx178i">
                    <div class="rg">1.37%</div>
                </td>
                <td class="tr svelte-1kx178i">394.33B</td>
                <td class="svelte-1kx178i">70,
                    555,
                    843</td>
                <td class="sl svelte-1kx178i">Consumer Electronics</td>
                <td class="sl svelte-1kx178i">Technology</td>
                <td class="svelte-1kx178i">7.79%</td>
                <td class="svelte-1kx178i">99.80B</td>
                <td class="svelte-1kx178i">111.44B</td>
                <td class="svelte-1kx178i">49.04B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">24</td>
                <td class="svelte-1kx178i"><a href="/stocks/amd/">AMD</a></td>
                <td class="slw svelte-1kx178i">Advanced Micro Devices, Inc.</td>
                <td class="svelte-1kx178i">121.57B</td>
                <td class="svelte-1kx178i">75.40</td>
                <td class="svelte-1kx178i">
                    <div class="rg">0.32%</div>
                </td>
                <td class="tr svelte-1kx178i">22.83B</td>
                <td class="svelte-1kx178i">58,
                    118,
                    610</td>
                <td class="sl svelte-1kx178i">Semiconductors</td>
                <td class="sl svelte-1kx178i">Technology</td>
                <td class="svelte-1kx178i">53.70%</td>
                <td class="svelte-1kx178i">2.27B</td>
                <td class="svelte-1kx178i">3.41B</td>
                <td class="svelte-1kx178i">2.70B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">6</td>
                <td class="svelte-1kx178i"><a href="/stocks/nvda/">NVDA</a></td>
                <td class="slw svelte-1kx178i">NVIDIA Corporation</td>
                <td class="svelte-1kx178i">507.50B</td>
                <td class="svelte-1kx178i">203.65</td>
                <td class="svelte-1kx178i">
                    <div class="rg">2.84%</div>
                </td>
                <td class="tr svelte-1kx178i">28.57B</td>
                <td class="svelte-1kx178i">54,
                    214,
                    198</td>
                <td class="sl svelte-1kx178i">Semiconductors</td>
                <td class="sl svelte-1kx178i">Technology</td>
                <td class="svelte-1kx178i">17.68%</td>
                <td class="svelte-1kx178i">5.96B</td>
                <td class="svelte-1kx178i">4.83B</td>
                <td class="svelte-1kx178i">1.40B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">386</td>
                <td class="svelte-1kx178i"><a href="/stocks/sofi/">SOFI</a></td>
                <td class="slw svelte-1kx178i">SoFi Technologies, Inc.</td>
                <td class="svelte-1kx178i">4.75B</td>
                <td class="svelte-1kx178i">5.94</td>
                <td class="svelte-1kx178i">
                    <div class="rg">4.03%</div>
                </td>
                <td class="tr svelte-1kx178i">1.40B</td>
                <td class="svelte-1kx178i">48,
                    503,
                    539</td>
                <td class="sl svelte-1kx178i">Credit Services</td>
                <td class="sl svelte-1kx178i">Financials</td>
                <td class="svelte-1kx178i">61.06%</td>
                <td class="svelte-1kx178i">-391.41M</td>
                <td class="svelte-1kx178i">-6.16B</td>
                <td class="svelte-1kx178i">-3.47B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">7</td>
                <td class="svelte-1kx178i"><a href="/stocks/meta/">META</a></td>
                <td class="slw svelte-1kx178i">Meta Platforms, Inc.</td>
                <td class="svelte-1kx178i">397.89B</td>
                <td class="svelte-1kx178i">151.74</td>
                <td class="svelte-1kx178i">
                    <div class="rg">3.01%</div>
                </td>
                <td class="tr svelte-1kx178i">118.12B</td>
                <td class="svelte-1kx178i">35,
                    771,
                    865</td>
                <td class="sl svelte-1kx178i">Internet Content &amp; Information</td>
                <td class="sl svelte-1kx178i">Communication Services</td>
                <td class="svelte-1kx178i">5.15%</td>
                <td class="svelte-1kx178i">28.83B</td>
                <td class="svelte-1kx178i">26.50B</td>
                <td class="svelte-1kx178i">15.88B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">3</td>
                <td class="svelte-1kx178i"><a href="/stocks/googl/">GOOGL</a></td>
                <td class="slw svelte-1kx178i">Alphabet, Inc.</td>
                <td class="svelte-1kx178i">1,
                    295.50B</td>
                <td class="svelte-1kx178i">99.37</td>
                <td class="svelte-1kx178i">
                    <div class="rg">1.90%</div>
                </td>
                <td class="tr svelte-1kx178i">282.11B</td>
                <td class="svelte-1kx178i">33,
                    879,
                    753</td>
                <td class="sl svelte-1kx178i">Internet Content &amp; Information</td>
                <td class="sl svelte-1kx178i">Communication Services</td>
                <td class="svelte-1kx178i">17.94%</td>
                <td class="svelte-1kx178i">66.99B</td>
                <td class="svelte-1kx178i">62.54B</td>
                <td class="svelte-1kx178i">89.62B</td>
            </tr>
            <tr class="svelte-1kx178i">
                <td class="svelte-1kx178i">2</td>
                <td class="svelte-1kx178i"><a href="/stocks/msft/">MSFT</a></td>
                <td class="slw svelte-1kx178i">Microsoft Corporation</td>
                <td class="svelte-1kx178i">1,
                    849.90B</td>
                <td class="svelte-1kx178i">248.16</td>
                <td class="svelte-1kx178i">
                    <div class="rg">0.06%</div>
                </td>
                <td class="tr svelte-1kx178i">204.09B</td>
                <td class="svelte-1kx178i">26,
                    498,
                    939</td>
                <td class="sl svelte-1kx178i">Software - Infrastructure</td>
                <td class="sl svelte-1kx178i">Technology</td>
                <td class="svelte-1kx178i">10.38%</td>
                <td class="svelte-1kx178i">67.45B</td>
                <td class="svelte-1kx178i">59.62B</td>
                <td class="svelte-1kx178i">39.39B</td>
            </tr>
        </tbody>
    </table>
    <script>
        let trs = document.getElementsByTagName("tr");
        let rows = [];
        for (let row of trs) {
           
            let cols = row.getElementsByTagName("td");
            let col = [];
            for(let c of cols) {
                col.push(c.innerText);
            }
            if (col.length > 0)
            rows.push(col);
        }
        let ths = document.getElementsByTagName("th");
        let header = []
        for (let h of ths) {
            header.push(h.innerText);
        }
        console.log({header, rows});
    </script>
</body>

</html>